[Unit]
Description=Start radar run app
After=multi-user.target


[Service]
Type=root
User=capteur
WorkingDirectory=/home/capteur/program/piradar
# ExecStartPre=sleep 30
ExecStart=/home/capteur/program/radar_program.sh
Restart=always

[Install]
WantedBy=multi-user.target