[Unit]
Description=Start radar run app
After=multi-user.target


[Service]
Type=simple
User=root
WorkingDirectory=/home/capteur/program/piradar
ExecStartPre=ifup eth0
ExecStart=/home/capteur/program/piradar/.venv/bin/python3 /home/capteur/program/piradar/piradar/scripts/schedule_recording.py
Restart=always

[Install]
WantedBy=multi-user.target